<div class="container">
  <h1 class="text-center pt-5"><%= @classroom.access_code %></h1>

  <div class="blurb">
    <p><strong>The activities you can add to your classroom are listed below.</strong></p>
    <p class="text-center"><strong>Make an activity available to your students by clicking 'Add Activity'. The activity will then be displayed in the Activities page and the students will be able to access it.</strong></p>
    <p class="text-center"><strong>You can also remove an activity from your classroom by clicking 'Remove Activity'.</strong></p>
    <p><%= link_to "Back to your classroom", classroom_path(@classroom), class: "btn btn-primary" %></p>
  </div>

  <% @activities.each do |e| %>
    <div data-controller="classroom-activity" data-classroom-activity-activity-id-value="<%= e.id %>">

      <div class="setting-box">
        <h2><%= link_to e.title, activity_path(e),  class:"settings-act"%></h2>

        <% if @classroom.activities.include?(e.title) %>
          <form  data-classroom-activity-target="form" action="/activities/<%= e.id %>/remove_activity">
            <input data-action="click->classroom-activity#changeButton" type="submit" value="Remove Activity" class="btn btn-danger">
          </form>
        <% else %>
          <form data-classroom-activity-target="form" action="/activities/<%= e.id %>/add_activity">
            <input data-action="click->classroom-activity#changeButton" type="submit" value="Add Activity" class="btn btn-primary">
          </form>
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="d-flex justify-content-evenly flex-wrap">
      <%= link_to "Back to Classroom", classroom_path(current_user.classroom), class: "btn btn-primary" %>
      <%= link_to "Back to Activities", activities_path, class: "btn btn-primary", target: :_blank %>
    </div>

</div>
