<div class="container">
  <% if current_user.teacher == false %>
    <div class="blurb">
      <p>Your teacher is: <%= "#{@teacher.first_name} #{@teacher.last_name}" %></p>
      <p>The showing is on <%= @classroom.date.strftime("%A, %B %d %Y at %H%M %Z") %></p>
      <%# <p>Have a peek at what badges your classmates have!</p> %>
    </div>
  <% else %>
    <div class="blurb">
      <p><strong>Welcome to your classroom!</strong></p>
      <p>The showing is on <%= @classroom.date.strftime("%A, %B %d %Y at %H%M %Z") %></p>
      <p>This classroom's access code is: <strong><%= @classroom.access_code %></strong> - Share it with your students!</p>
      <p><%= link_to "Your classroom settings", settings_path(@classroom), class: "btn btn-primary" %></p>
      <p> <%= "Have a look at your students progress:" unless @students.empty? %> </p>
    </div>
    <% @students.each do |student| %>
      <div class="student-row">
        <%= link_to "#{student.first_name} #{student.last_name}", profile_path(student), class: "student-name" %>
        <div class="d-flex justify-content-between align-items-center">
          <% completed_badges = [] %>
          <% student.badges.each do |b| %>
            <% if @classroom.activities.include?(b.activity.title) %>
              <div class="mx-2 d-flex flex-column align-items-center" style="width: 150px">
                <%= link_to b.activity.title, results_path(student, b.activity), class: "badge #{b.status.to_sym}-color", style: "white-space:normal" %>
                <% completed_badges << b if b.status == "completed" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div>
        <% if !completed_badges.empty? %>
          <p class="student-name" ><%= "#{((completed_badges.length / student.badges.length.to_f) * 100).to_i}%" %></p>
        <% else %>
          <p>0%</p>
        <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-evenly flex-wrap">
    <%= link_to "Home", root_path, class: "btn btn-primary mb-1", style: "min-width: 200px;"  %>
    <%= link_to "Enter The Classroom", classroom_path(current_user.classroom), class: "btn btn-primary mb-1", style: "min-width: 200px;" if current_user.teacher? %>
    <%= link_to "Activities", activities_path, class: "btn btn-primary mb-1", style: "min-width: 200px;" unless current_user.teacher?  %>
  </div>
</div>
