<div class="container">
  <% if current_user.teacher == false %>
    <div class="class-blurb">
      <p>Your teacher is: <%= "#{@teacher.first_name} #{@teacher.last_name}" %></p>
      <p>The showing is on <%= @classroom.date %></p>
      <p>Have a peek at what badges your classmates have!</p>
    </div>
  <% else %>
     <div class="class-blurb">
      <p><strong>Welcome to your classroom!</strong></p>
      <p>The showing is on <%= @classroom.date %></p>
      <p>Have a look at your students' progress:</p>
    </div>
    <% @students.each do |student| %>
      <div class="student-row">
        <%= link_to "#{student.first_name} #{student.last_name}", profile_path(student), class: "student-name" %>
        <div class="d-flex justify-content-between align-items-center">
          <% completed_badges = [] %>
          <% student.badges.each do |b| %>
            <div class="mx-2 d-flex flex-column align-items-center" style="width: 150px">
              <p><%= b.activity.title %></p>
              <p>Type: <%= b.activity.activity_type %></p>
              <%= link_to b.status, results_path(student, b.activity), class: "badge" %>
              <% completed_badges << b if b.status == "completed" %>
            </div>
          <% end %>
        </div>
        <div>
          <%= "#{((completed_badges.length / student.badges.length.to_f) * 100).to_i}%" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
