<div>
  <p class="text-center">Scroll over the Kanji to see their meaning. Click on the Kanji to hear them pronounced.</p>
  <div class="character-icons">
    <% icons = [] %>
    <% @activity.activity_questions.each do |e| %>
      <% icons << e.question_text %>
    <% end %>
    <h1 class="text-center mt-4" ><%= icons.join %></h1>
    <%= audio_tag("#{icons.join} audio.m4a", id:"icon-audio") %>
    <span class="tooltiptext">
      <div>
        <p>Chancy trade (business) with a high turnover rate and uncertain profitability.</p>
        <p>The entertainment, eating, and drinking business.</p>
        <p>The night entertainment (nightlife) business.</p>
      </div>
    </span>
  </div>
  <% @activity.activity_questions.each do |e| %>
    <div class="character-icons">
      <h1 class="text-center mt-4" id="icon-symbol"><%= e.question_text %></h1>
      <span class="tooltiptext"><%= e.response_text %></span>
      <%= audio_tag("#{e.question_text} audio.m4a", id:"icon-audio") %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'icons' %>
