
<% if user_signed_in? %>
  <img class="rounded d-block show-banner mb-2" src="https://www.playwrights.ca/wp-content/uploads/2020/02/water-trade1920x1080.jpg" alt="">

  <div class="container">

    <div class="home-box">
      <% if current_user.teacher? %>
        <p>Welcome <%= current_user.first_name %>, you are now logged in as a teacher (Placeholder for JA's text) </p>
        <p>How to use the app:</p>
        <ul>
          <li>Click on your icon to see the navigation menu.</li>
          <li>Read up on the show using the 'Show Information' button below.</li>
          <li>You can access the classroom to see your students progress.</li>
          <li>You can add or remove activities from the classroom in the classroom setting.</li>
          <li>You can leave comment on your students activities.</li>
        </ul>
      <% else %>
        <p>Welcome <%= current_user.first_name %>, you are now logged in as a student (Placeholder for JA's text)</p>
        <ul>
          <li>Click on your icon to see the navigation menu.</li>
          <li>Read up on the show using the 'Show Information' button below.</li>
          <li>You can complete activities and earn badges.</li>
          <li>View your teacher's comments when you're done!</li>
          <li>You can see which activities you completed on your profile.</li>
          <li>Access your activities using the 'Your Activities' button below or using the navigation menu.</li>
        </ul>
      <% end %>
    </div>

    <div class="home-box">
      <p>
        Welcome to the show Mizushōbai (The Water Trade), this is an interactive theatre companion:
        We're so lucky to have you here!
      </p>
      <p>
        Mizushōbai (The Water Trade) was developed with Playwrights’
        Workshop Montréal through a variety of programs, including the Gros Morne Playwrights’
        Residency and the EstérELLE Writers-in-Residence.
      </p>

      <p>
        Mizushōbai (The Water Trade) was the recipient of Tableau D’Hôte Theatre’s inaugural More than a footnote commission,
        and received financial support from the Cole Foundation and the Canada Council for the Arts.”
      </p>
    </div>

    <!-- <div class="home-box">
      <p>How to use the app:</p>
      <ul>
        <% if user_signed_in? %>
          <li>Click on your icon to see the navigation menu</li>
          <li>Read up on the show using the 'Show Information' button below</li>
          <li>Access your activities using the 'Your Activities' button below or using the navigation menu</li>
          <li>Complete an activity to earn a badge and view your teacher's comments when you're done!</li>
        <% else %>
          <li>If you are a new user, make sure you have your access code handy</li>
          <li>Sign up using the button below and enter your access code</li>
          <li>After creating your account, you will be able to view your classroom and activities!</li>
        <% end %>
      </ul>
    </div> -->

    <div class="d-flex justify-content-evenly flex-wrap">
      <%= link_to "Enter The Classroom", classroom_path(current_user.classroom), class: "btn btn-primary", style: "min-width: 200px;" if current_user.teacher? %>
      <%= link_to "Show Information", play_path, class: "btn btn-primary", style: "min-width: 200px;"  %>
      <%= link_to "Activities", activities_path, class: "btn btn-primary", style: "min-width: 200px;" unless current_user.teacher?  %>
    </div>
  </div>
<% else %>
  <div class="banner d-flex flex-column align-items-center justify-content-center">
    <%# <div class=""> %>
      <h1 class="m-3">Interactive Theatre Companion</h1>
      <p class="m-3">Welcome, you're in the right place. </p>
      <div style="width: 40vw;" class="m-5 d-flex justify-content-evenly">
        <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
      </div>
    <%# </div> %>
  </div>
<% end %>
