<div class="container">
  <h1 class="text-center mt-4"><%= activity.title %></h1>
  <div class="image-audio text-center d-flex flex-column justify-content-center align-items-center">
    <%# <%= image_tag "Julie Tamiko Manning.png", id:"julie-interview" %>
    <%= cl_image_tag activity_questions.first.photos.first.key %>
    <%= audio_tag("Julie Tamiko Manning interview.m4a", controls: true) %>
  </div>


  <% if current_user == @profile && @badge.status != "completed" %>
    <form  data-action="click->edit-ajax#preventRefresh" class="text-center" action="/badges/<%= @badge.id %>/completed">
      <input type="submit" value="Mark As Completed" class="btn btn-primary">
    </form>
  <% end %>
  <br>
  <% if current_user.teacher? %>
    <p class="text-center"><%= link_to "Back to classroom", classroom_path(@classroom), class: "btn btn-primary" %></p>
  <% else %>
    <p class="text-center"><%= link_to "Back to activities", activities_path, class: "btn btn-primary" %></p>
  <% end %>

</div>
