<div class="container mt-3">
  <h1 class="text-center mt-4"><%= @activity.title %></h1>
  <h4 class="question"><%= @activity.description %></h4>

  <div id="puzzle_container">
    <table id="puzzle">
    </table>
  </div>

  <div id="hints_container text-center" style="padding-left: 680px">
    <h3>Vertical</h3>
    <div id="vertical_hints_container"></div>
    <h3>Horizontal</h3>
    <div id="horizontal_hints_container"></div>
  </div>

  <div id="buttons_container">
    <button id="clear_all" class="btn btn-primary">Clear All</button>
    <button id="check" class="btn btn-primary">Check</button>
    <button id="solve" class="btn btn-primary">Solve</button>
    <button id="clue" class="btn btn-primary">Clue</button>
  </div>

  <% if current_user == @profile && @badge.status != "completed" %>
    <form class="text-center" action="/badges/<%= @badge.id %>/marked">
      <input type="submit" value="Complete Activity" class="btn btn-primary">
    </form>
  <% end %>

  <% if current_user.teacher? && @badge.status != "completed" %>
    <form  data-action="click->edit-ajax#preventRefresh" class="text-center" action="/badges/<%= @badge.id %>/completed">
      <input type="submit" value="Mark As Completed" class="btn btn-primary">
    </form>
  <% end %>
  <br>
  <% if current_user.teacher? %>
    <p class="text-center"><%= link_to "Back to classroom", classroom_path(@classroom), class: "btn btn-primary" %></p>
  <% else %>
    <p class="text-center"><%= link_to "Back to activities", activities_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
<%= javascript_include_tag 'crossword' %>
