<div class="container justify-content-center">
  <h1 class="text-center mt-4"><%= @activity.title %></h1>
  <div class="question">
    <h4><%= @activity.description %></h4>
    <p>Scroll over the Kanji to see their meaning. Click on the Kanji to hear them pronounced.</p>
  </div>
  <div class="question align-items-center">

    <% @activity_questions.each do |e| %>
      <div class="character-icons">
        <h1 class="text-center mt-4" id="icon-symbol">
          <%= e.question_text %><%= audio_tag("#{e.question_text} audio.m4a", id:"icon-audio") %>
        </h1>
        <span class="tooltiptext"><%= e.response_text %></span>
      </div>
    <% end %>
  </div>
  <br>
  <% if current_user == @profile && @badge.status != "completed" %>
    <form  data-action="click->edit-ajax#preventRefresh" class="text-center" action="/badges/<%= @badge.id %>/completed">
      <input type="submit" value="Mark As Completed" class="btn btn-primary">
    </form>
  <% end %>
  <br>
  <% if current_user.teacher? %>
    <p class="text-center"><%= link_to "Back to classroom", classroom_path(@classroom), class: "btn btn-primary" %></p>
  <% else %>
    <p class="text-center"><%= link_to "Back to activities", activities_path, class: "btn btn-primary" %></p>
  <% end %>

</div>

<%= javascript_include_tag 'icons' %>
