<div class="container" data-controller="video-questions">
  <h1 class="text-center mt-3"><%= @activity.title %></h1>
  <% if current_user.teacher || @activity.badges.find_by(user: current_user).active? %>
    <h4 class="question"><%= @activity.description %></h4>
    <div class="d-flex justify-content-center">
      <% @activity.activity_questions.each do |question| %>
        <div class="d-flex flex-column align-items-center" data-controller="">
          <% question.photos.each do |photo| %>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= question.id %>" style="box-shadow: none">
              <%= cl_image_tag photo.key, height: 500, width: 400, crop: :fill, class: "rounded-2 m-1", style: "box-shadow: 0 5px 9px rgba(0,0,0,0.2);" %>
            </button>
          <% end %>

          <div class="modal fade" id="staticBackdrop<%= question.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= question.question_text.truncate_words(2) %></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= question.question_text %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cool!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3 class="text-center mt-3">You can't complete this activity yet!</h3>
  <% end %>

  <% if current_user == @profile && @badge.status != "completed" %>
    <form class="text-center" action="/badges/<%= @badge.id %>/completed">
      <input type="submit" value="Complete Activity" class="btn btn-primary">
    </form>
  <% end %>
  <br>
</div>
