<div class="container" data-controller="video-questions">
  <h1 class="text-center mt-3"><%= @activity.title %></h1>

  <% if current_user.teacher || @activity.badges.find_by(user: current_user).active? %>
    <% @activity.activity_questions.each_with_index do |question, i| %>
      <div class="text-center">
        <% question.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 500, width: 400, crop: :fill %>
          <%= question.question_text %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h3 class="text-center mt-3">You can't complete this activity yet!</h3>
  <% end %>

  <% if current_user == @profile && @badge.status != "completed" %>
    <form class="text-center" action="/badges/<%= @badge.id %>/marked">
      <input type="submit" value="Complete Activity" class="btn btn-primary">
    </form>
  <% end %>

  <% if current_user.teacher? && @badge.status != "completed" %>
    <form  data-action="click->edit-ajax#preventRefresh" class="text-center" action="/badges/<%= @badge.id %>/completed">
      <input type="submit" value="Mark As Completed" class="btn btn-primary">
    </form>
  <% end %>
  <br>
</div>
