<div data-controller="edit-ajax">
  <div data-edit-ajax-target="responseInfo">
    <p>
      <% if response.user == current_user %>
        <p><%= response.text %></p>
        <%= link_to "Edit", "#", class: "btn btn-primary", data: {action: "click->edit-ajax#revealForm"} %>
      <% elsif current_user.teacher %>
        <h5><%= response.user.first_name %>'s answer:</h5>
        <p><%= response.text %></p>
      <% end %>
    </p>
  </div>

  <%= simple_form_for([question, response], html: {class: "d-none", data: {edit_ajax_target: "responseEdit"} }) do |f| %>
    <% if question.choices.any? %>
      <%= f.input :text, as: :radio_buttons, collection: question.choices %>
    <% else %>
      <%= f.input :text %>
    <% end %>
    <%= f.hidden_field :activity_question_id, value: question.id %>
    <%= f.submit "Save Answer", class: "btn btn-primary" %>
  <% end %>
</div>
