<div data-controller="edit-ajax">
  <div data-edit-ajax-target="responseInfo">
    <p>
      <%= response.text %>
      <% if response.user == current_user %>
        <%= link_to "Edit", "#", data: {action: "click->edit-ajax#revealForm"} %>
      <% end %>
    </p>
  </div>

  <%= simple_form_for([question, response], html: {class: "d-none", data: {edit_ajax_target: "responseEdit"} }) do |f| %>
    <%= f.input :text %>
    <%= f.hidden_field :activity_question_id, value: question.id %>
    <%= f.submit "Save Answer" %>
  <% end %>
</div>
