<div class="container">
  <h1 class="text-center mt-3">Activities</h1>

  <div class="blurb">
    <p>Have a look at all the activities you can do!</p>
    <p>Or search for an activity below:</p>
    <%= form_with url: activities_path, method: :get, class: "d-flex w-50 my-2 mx-auto" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an activity"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="activity-grid">
    <% @activities.each do |activity| %>
      <div class="activity">
        <h3><%= activity.activity_type %>:</h3>
        <p><%= link_to activity.title, activity_path(activity) %></p>
        <p>Level: <%= activity.level %></p>
      </div>
    <% end %>
  </div>

  <%= link_to "Back to homepage", root_path %>
</div>
