<div class="container">
  <h1 class="text-center mt-3">Activities</h1>

  <div class="blurb">
    <%= link_to "Activity Settings", settings_path(@classroom), class: "btn btn-primary" if current_user.teacher? %>
    <p><%= "Have a look at all the activities you can do!" unless current_user.teacher? %></p>
    <%# <p>Or search for an activity below:</p> %>
    <%# <%= form_with url: activities_path, method: :get, class: "d-flex w-50 my-2 mx-auto" do %>
      <%# <%= text_field_tag :query, %>
        <%# params[:query], %>
        <%# class: "form-control", %>
        <%# placeholder: "Find an activity" %>
      <%# %>
      <%# <%= submit_tag "Search", class: "btn btn-primary" %>
    <%# <% end %>
  </div>
    <h3 class=" d-flex align-items-center justify-content-center"><%= @phases[0].name %></h3>
  <div class=" d-flex align-items-center justify-content-center flex-wrap">
      <% @activities.each do |activity| %>
        <% act = Activity.find_by(title: activity) %>
          <% if act.phase == @phases[0] %>
          <% @badge = Badge.where(user: current_user, activity: act).first%>
            <div class="activity">
              <p><%= act.activity_type.name %></p>
              <% if current_user.teacher == true || @badge.status == "available"   %>
                <h4><%= link_to act.title, activity_path(act) %></h4>
              <% else %>
                <h4><%= act.title %></h4>
                <p>Activity <%= @badge.status %></p>
              <% end %>
            </div>
          <% end %>
      <% end %>
  </div>
  <hr>

    <h3 class=" d-flex align-items-center justify-content-center"><%= @phases[1].name %></h3>
  <div class=" d-flex align-items-center justify-content-center flex-wrap">
      <% @activities.each do |activity| %>
        <% act = Activity.find_by(title: activity) %>
          <% if act.phase == @phases[1] %>
            <% @badge = Badge.where(user: current_user, activity: act).first%>
            <div class="activity">
              <p><%= act.activity_type.name %></p>
              <% if current_user.teacher == true || @badge.status == "available" %>
                <h4><%= link_to act.title, activity_path(act) %></h4>
              <% else %>
                <h4><%= act.title %></h4>
                <p>Activity <%= @badge.status %></p>
              <% end %>
            </div>
          <% end %>
      <% end %>
  </div>
  <hr>
    <% if DateTime.now < @classroom.date %>
      <h3 class=" d-flex align-items-center justify-content-center"><i class="fa-solid fa-lock mx-3"></i><%= @phases[2].name %></h3>
    <% else %>
      <h3 class=" d-flex align-items-center justify-content-center"><i class="fa-solid fa-unlock mx-3"></i><%= @phases[2].name %></h3>
    <% end %>
    <% if DateTime.now < @classroom.date %>
      <p  class=" d-flex align-items-center justify-content-center">These activities will unlock after <%= @classroom.date %></p>
    <% end %>
  <div class=" d-flex align-items-center justify-content-center flex-wrap">
      <% @activities.each do |activity| %>
        <% act = Activity.find_by(title: activity) %>
          <% if act.phase == @phases[2] && DateTime.now > @classroom.date%>
          <% @badge = Badge.where(user: current_user, activity: act).first%>
            <div class="activity">
              <p><%= act.activity_type.name %></p>
              <% if current_user.teacher == true || @badge.status == "available" %>
                <h4><%= link_to act.title, activity_path(act) %></h4>
              <% else %>
                <h4><%= act.title %></h4>
                <p>Activity <%= @badge.status %></p>
              <% end %>
            </div>
          <% end %>
      <% end %>
  </div>
  <hr>
    <%# @unlocked_activities&.each do |activity| %>
      <%# <div class="activity"> %>
        <%# <h3>= activity.activity_type:</h3> %>
        <%# <p>activity locked</p> %>
        <%# <p>Level: = activity.level</p> %>
      <%# </div> %>
    <%# end %>

    <%# @locked_activities&.each do |activity| %>
      <%# <div class="activity"> %>
        <%# <h3> activity.activity_type :</h3> %>
        <%# <p>activity locked</p> %>
        <%# <p>Level: activity.level </p> %>
      <%# </div> %>
    <%# end %>


  <div class="d-flex justify-content-evenly flex-wrap">
    <%= link_to "Back to homepage", root_path, class: "btn btn-primary" %>
    <%= link_to "Show Information", play_path, class: "btn btn-primary", style: "min-width: 200px;"  %>
  </div>
</div>
