<div class="container">
  <h1 class="text-center mt-3"><%= @activity.title %></h1>
  <% if current_user.teacher || @activity.badges.find_by(user: current_user).active? %>
    <div>
      <%# get all activities questions %>
      <% @activity_questions.each_with_index do |question, i| %>
        <div class="question">
          <h4><%= i + 1 %>. <%= question.question_text %></h4>
          <%# Submit a response to each question ONLY if no response is already present %>
          <%# to prevent multiple responses to 1 question %>
          <% if question.user_responses.where(user: @profile).empty? && !current_user.teacher? %>
            <%= simple_form_for([question, @user_response]) do |f| %>
              <%# If it's a review, the input field is a text field %>
              <% if question.activity.activity_type == "Review" %>
                <%= f.input :text, as: :text, label: false %>
              <% elsif question.choices.any? %>
                <%= f.input :text, as: :radio_buttons, collection: question.choices %>
              <% else %>
                <%= f.input :text, label: false, placeholder: "Write your answer..." %>
              <% end %>
              <%= f.hidden_field :activity_question_id, value: question.id %>
              <%= f.submit "Save Answer", class: "btn btn-primary" %>
            <% end %>
          <% end %>

          <%# get the response where the user is the @profile(params) %>
          <% question.user_responses.where(user: @profile).each do |response| %>
            <%= render 'activities/user_responses_info', question: question, response: response %>

            <% if current_user.teacher? && response.teacher_comments.empty? %>
              <%= simple_form_for([response, teacher_comment]) do |f| %>
                <%= f.input :text, label: false, placeholder: "Leave a comment..." %>
                <%= f.hidden_field :user_response_id, value: response.id %>
                <%= f.submit "Save Comment", class: "btn btn-primary" %>
              <% end %>
            <% end %>

            <%= render 'activities/teacher_comments_info', response: response, teacher_comment: @teacher_comment %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3 class="text-center mt-3">You can't complete this activity yet!</h3>
  <% end %>

  <% if current_user == @profile && @badge.status != "completed" %>
    <form class="text-center" action="/badges/<%= @badge.id %>/marked">
      <input type="submit" value="Complete Activity" class="btn btn-primary">
    </form>
  <% end %>

  <% if current_user.teacher? && @badge.status != "completed" %>
    <form class="text-center" action="/badges/<%= @badge.id %>/completed">
      <input type="submit" value="Mark As Completed" class="btn btn-primary">
    </form>
  <% end %>
  <br>
  <% if current_user.teacher? %>
    <p class="text-center"><%= link_to "Back to classroom", classroom_path(@classroom), class: "btn btn-primary" %></p>
  <% else %>
    <p class="text-center"><%= link_to "Back to activities", activities_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
