<h1><%= @activity.title %></h1>


<div>
  <%# get all activities questions %>
  <% @activity_questions.each do |question| %>
    <h4><%= question.question_text %></h4>
      <%# get the response where the user is the @profile(params) %>
      <% question.user_responses.where(user: @profile).each do |response| %>
        <p><%= response.text %></p>
        <% if current_user.teacher? %>
          <%= simple_form_for([response, @teacher_comment]) do |f| %>
            <%= f.input :text %>
            <%= f.submit "Save Comment!" %>
          <% end %>
        <% end  %>
        <%# find the teacher comment for this user_response %>
        <% TeacherComment.where(user_response: response).each do |comment| %>
          <p><%= comment.text %></p>
        <% end %>
      <% end %>
  <% end %>
</div>
