<div class="container">
  <h1 class="text-center mt-3"><%= @activity.title %></h1>
  <h4 class="question"><%= @activity.description %></h4>
  <% if current_user.teacher? %>
    <% case @activity.activity_type.name %>
    <% when "Quiz" %>
      <%= render 'activities/teacher/video_quiz', activity: @activity %>
    <% when "Essay" %>
    <% when "Review" %>
    <% when "Match" %>
      <%= render 'activities/teacher/video_quiz', activity: @activity %>
    <% when "Art" %>
      <%= render 'activities/teacher/video_quiz', activity: @activity %>
    <% when "Crossword" %>
      <%= render 'activities/teacher/crossword', activity: @activity, activity_questions: @activity_questions, profile: @profile, user_response: @user_response, teacher_comment: @teacher_comment %>
    <% when "Photo Popup" %>
      <%= render 'activities/teacher/photo_popup', activity: @activity %>
    <% when "Video Quiz" %>
      <%= render 'activities/teacher/video_quiz', activity: @activity %>
    <% else %>
      <%= render 'activities/activity_error', activity: @activity %>
    <% end %>
  <% end %>

  <div class="d-flex justify-content-evenly">
    <%# Only show this link to students %>
    <%# && Only show this link if the badge is not unavailable %>
    <% if current_user.teacher? || @activity.badges.find_by(user: current_user).active?  %>
      <p class="text-center"><%= link_to "Start this activity", results_path([current_user, @activity]), class: "btn btn-primary mb-1", style: "min-width: 200px;" unless current_user.teacher %></p>
    <% else %>
      <h3>You can't complete this activity yet!</h3>
    <% end %>
  </div>
  <div class="d-flex justify-content-evenly flex-wrap">
    <p class="text-center"><%= link_to "Back to activities", activities_path, class: "btn btn-primary mb-1", style: "min-width: 200px;" %></p>
  </div>
</div>
