<h1><%= @activity.title %></h1>

<% @activity.activity_questions.each do |question| %>
  <p><%= question.question_text %></p>
<% end %>

<%= simple_form_for([@activity, @user_response]) do |f| %>
  <%= f.input :text %>
  <%= f.submit "Save Answer" %>
<% end %>


<%= link_to "Back to activities", activities_path %>
